@plugin 'tailwindcss-animate';
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


@import "tw-animate-css";
@config "../tailwind.config.js";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --color-primary: 11 12 94; /* dark blue   rgb(11,12,94)   */ 
    --color-secondary: 242 245 251; /* for background , grey   rgb(242,245,251)*/
    --color-rocket-blue: 58 60 165; /* blue rgb(58,60,165)*/
}

@layer base {
    body {
        @apply font-sans;
    }
}

/* // for tabs in EvenHub */
@layer components {
  .tabs-container {
    @apply overflow-x-auto;
    scrollbar-width: none; /* Firefox */
  }

  .tabs-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

