@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@config "../tailwind.config.js";
@import "tailwindcss";

:root {
  --color-primary: 11 12 94; /* dark blue */
  --color-secondary: 242 245 251; /* for background , grey */
  --color-rocket-blue: 58 60 165; /* blue */
}

@layer base{
body{
    @apply font-sans;
}
}
